* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-green: #747766;
  --main-btn-green: #616452;
  --dark-green: #686b5c;
  --main-font-color: #ffffff;

  --main-font: "maven pro";
}
.page-title {
  color: var(--main-font-color);

  margin-bottom: 3rem;
  font-size: 2rem;
}

body {
  background-color: var(--main-bg-green);
  font-family: var(--main-font);
}

/*Bakgrundsbilder i body*/

/* body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  font-family: var(--main-font);
}

.home {
  background-image: url(assets/photos/09-day.jpg);
} */

.about {
  background-image: url(assets/photos/03-day.jpg);
}

.booking {
  background-image: url(assets/photos/05-day.jpg);
}

/*----------------------------Navigation-section--------------------------*/

.navigation {
  background-color: var(--main-bg-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem 10% 0.5rem;
  gap: 2rem;
  width: 100%;
  height: 14vh;
}

.navigation__logo {
  width: clamp(50px, 250px, 300px);
  /* margin-left: 10%; */
}

.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 50%;
}

.navigation__list-item {
  list-style-type: none;
  font-weight: 500;
  width: 200px;
}

.navigation__link {
  display: inline-block;
  color: var(--main-font-color);
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.8rem 0.5rem;
  background-color: transparent;
  transition: background-color 0.3s ease, font-size 0.3s ease; /* Lägger till en övergångseffekt på bakgrund och font-size*/
  width: 100%;
}

.navigation__link:hover,
.navigation__link:focus {
  outline: none;
  background-color: var(--main-btn-green);
  color: white;
  font-size: 1.1rem;
  border-radius: 5px;
}

/*------------------------------- content----------------------------------*/

.hero {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  display: grid;
  grid-auto-rows: auto;
  /* max-width: 1000px; */
  width: 100%;
  height: 86vh;
  text-align: center;
  place-items: center;
  /* margin: 0 auto; */
  padding: 9rem 8rem 0.5rem;
}

.hero--home {
  grid-template-columns: 1fr 1fr;
  background-image: url(assets/photos/09-day.jpg);
  /* margin-top: 8rem; */
}

.wrapper--booking {
  grid-template-columns: 1fr;
  margin-top: 16rem;
}

/*-----------------------Section för Rumsbokning-----------------------*/

.check-room {
  padding: 2rem 1rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  column-gap: 1rem;
  min-height: max-content;
  border-radius: 12px;
  background: rgba(116, 119, 102, 0.7);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.check-room--sizing {
  grid-template-columns: repeat(8, 1fr);
}

.check-room__title {
  color: var(--main-font-color);

  grid-column: span 4;
  text-align: start;
}

.check-room__info {
  color: var(--main-font-color);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: span 2;
  margin: 0.5rem 0;
}
.check-room__info--short {
  grid-column: span 1;
}

.check-room__input {
  width: 100%;
  height: 3rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.hero__bonzai-logo > img {
  width: 200px;
}

/*----------------------Styling för buttons-----------------*/

.main-btn {
  color: var(--main-font-color);

  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  background-color: #9ba08e;
  transition: background-color 0.3s ease, font-size 0.3s ease; /* Lägger till en övergångseffekt på bakgrund OCH font-size*/
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  cursor: pointer;
}

.main-btn:hover,
.main-btn:focus {
  outline: none;
  background-color: var(--main-btn-green);
  color: white;
  font-size: 1.1rem;
}

.main-btn--long {
  grid-column: 1 / -1;
  margin-top: 1rem;
}

/*------------------------------- Section för rum-------------------------------*/

.room {
  border-radius: 12px;
  background: var(--main-font-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: auto;
  gap: 1rem;

  /* display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  gap: 27px 50px;
  flex-wrap: wrap; */
}

/*---------------------------------Galleri för rumsbokning-----------------------*/

.gallery {
  /* width: 300px; */

  /* position: relative; */
  margin-top: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.gallery__image {
  display: none;
  /* position: absolute;
  top: 0;
  left: 0; */

  width: 100%;
  /* max-width: 450px; */
  border-radius: 12px;
  transition: opacity 0.3s ease;

  grid-column: span 3;
  order: 1;
}

/* .gallery__image--1 {
  background-image: url(assets/photos/01-day.jpg);
}

.gallery__image--2 {
  background-image: url(assets/photos/03-day.jpg);
}

.gallery__image--3 {
  background-image: url(assets/photos/07-day.jpg);
} */

.gallery__thumbnails {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* position: relative;
  z-index: 1;

  margin-top: 300px; */
}

.gallery__thumbnail-input {
  display: none;
}

.gallery__thumbnail {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  margin-top: 0.5rem;
  order: 2;
}

.gallery__thumb-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__thumbnail:hover,
.gallery__thumbnail:focus {
  filter: brightness(60%);
}

.gallery__thumbnail--label-1 {
  background-image: url(assets/photos/01-day.jpg);
  justify-self: end;
}

.gallery__thumbnail--label-2 {
  background-image: url(assets/photos/03-day.jpg);
  justify-self: center;
}
.gallery__thumbnail--label-3 {
  background-image: url(assets/photos/07-day.jpg);
  justify-self: start;
}

#thumbnail-1:checked ~ .gallery__image--1 {
  display: block;
}

#thumbnail-2:checked ~ .gallery__image--2 {
  display: block;
}

#thumbnail-3:checked ~ .gallery__image--3 {
  display: block;
}

/*----------------------Skriftlig beskrivning av rummen------------------*/

.room__info-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.room__title {
  margin-top: 1rem;
  font-size: 1.8rem;
}

.room__subtitle {
  font-size: 1.1rem;
}

.room__information {
  font-size: 1rem;
  text-align: justify;
}

.room__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}

.room__list-item {
  display: inline-block;
  font-weight: 500;
  list-style-type: none;
  font-size: 0.8rem;
}
.room__price {
  align-self: end;
}

/*-------------------Home-hotellets aktuella händelser----------------*/

.hero__anchar {
  margin-top: 5rem;
  grid-column: span 2;
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.hotel-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr 3em);
  grid-auto-rows: 200px;
  column-gap: 1rem;
  row-gap: 1.5rem;

  padding: 4rem 8rem 2rem;
}

.hotel-info__about {
  grid-column: auto / span 2;
  background-color: var(--dark-green);
  /* background-color: rgba(255, 255, 255, 0.3); */
  border-radius: 12px;
  border: white 2px solid;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 2rem;
}

.hotel-info__divide-title {
  color: white;

  font-size: 1.2rem;
  grid-column: 1 / -1;
  align-self: end;
}

.hotel-info__article {
  /* grid-column: auto / span 1; */
  border-radius: 12px;
  border: white 2px solid;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: overlay;
  width: 100%;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: end;

  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap; */
}

.hotel-info__article:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.certificats__cert {
  justify-self: center;
  max-height: 110px;
}

.hotel-info__article--map {
  background-image: url(assets/photos/navigation.jpg);
  background-position: center 20%;
}

.hotel-info__article--julbord {
  background-image: url(assets/photos/dining.jpeg);
  background-position: center 55%;
  background-size: 150%;
}

.hotel-info__article--virtual {
  background-image: url(assets/photos/virtual-relax.jpeg);
  background-position: center 40%;
}

.hotel-info__article--spa {
  background-image: url(assets/photos/spa.jpeg);
}

.hotel-info__review {
  grid-column: auto / span 2;
  padding-top: 0.5rem;
}

.hotel-info__title {
  color: white;
  font-size: 2rem;
  margin-bottom: 0.5rem;

  grid-column: 1 / -1;
}

.hotel-info__paragraph {
  color: white;
  font-weight: 300;
  text-align: justify;
}

.hotel-info__paragraph--big {
  font-size: 1.2rem;
  line-height: 2rem;
}

.hotel-info__paragraph--review {
  font-style: italic;
  margin-bottom: 1rem;
  background-color: var(--dark-green);
  display: inline-block;
  padding: 0.2rem 0.5rem;
}

.hotel-info__subtitle {
  display: none;
}

/*----------------------------Footer section--------------------------*/

.page-footer {
  width: 100%;
  background-color: var(--dark-green);
  margin-top: 1rem;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link-list {
  margin: 2rem 0;
}

.link-list__title {
  margin-bottom: 0.5rem;
}

.link-list_items {
  list-style-type: none;
}

.link-list__item {
  padding-bottom: 0.3rem;
  cursor: pointer;
}

/*-------------------------------Mobilvy-------------------------------*/

@media (max-width: 875px) {
  /* body {
    background-size: 400%;
    background-position: 62%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  } */

  .navigation {
    display: none;
  }
  /* .wrapper {
    padding: 1rem;
  } */

  .hero {
    height: auto;
  }

  .hero--home,
  .wrapper--booking {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 4rem 1rem 1rem;
    height: 100vh;
    /* margin-top: 4rem; */
  }

  .hero__anchar {
    order: 2;
    font-size: 1rem;
  }
  .check-room {
    margin-top: 1rem;
    padding: 0.8rem 1rem;
    grid-column: span 2;
  }

  .hero--home .check-room {
    order: 2;

    /* grid-template-columns: 1fr;
    grid-column: 1; */
  }

  .check-room--sizing {
    grid-template-columns: repeat(4, 1fr);
  }

  .page-title {
    margin-bottom: 0rem;
  }

  .room {
    grid-template-columns: 1fr;
    width: auto;
  }
  .hotel-info__title {
    font-size: 1.5rem;
  }

  .hotel-info__paragraph--big {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .hotel-info__subtitle {
    display: block;
    color: white;
    font-size: 1.2rem;
  }

  .hotel-info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 200px 200px 250px;
    grid-auto-rows: 250px;
    column-gap: 0.5rem;
    row-gap: 1.5rem;

    padding: 3rem 1rem;
  }

  .hotel-info__article {
    max-height: 200px;
  }

  .hotel-info__article--green-key {
    grid-column: span 2;
    order: 2;
  }

  .hotel-info__review {
    /* grid-row: span 2; */
    order: 2;
    padding: 0 1rem;
    place-self: center;
  }
  .hotel-info__paragraph--review {
    margin: 1rem 0 0;
  }

  .hotel-info__divide-title {
    display: none;
  }

  .hotel-info__article--map {
    order: 1;
  }

  .page-footer {
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: start;
  }
}
