* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-green: #747766;
  --main-btn-green: #616452;
  --dark-green: #686b5c;
  --main-font-color: #ffffff;
  --link-font-color: #d3d3d3;
  --anchar-bg-color: #5d5f52;

  --main-font: "maven pro";
}

.page-title {
  color: var(--main-font-color);
  font-size: 2rem;
  align-self: end;
  padding-bottom: 1rem;
  margin-top: 10%;
}

body {
  background-color: var(--main-bg-green);
  font-family: var(--main-font);
}

.about {
  background-image: url(assets/photos/03-day.jpg);
}

.booking {
  background-image: url(assets/photos/05-day.jpg);
}

/*----------------------------Navigation-section--------------------------*/

.navigation {
  background-color: var(--main-bg-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem 10% 0.5rem;
  gap: 2rem;
  width: 100%;
  height: 14vh;
}

.navigation__logo {
  width: clamp(50px, 250px, 300px);
}

.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 50%;
}

.navigation__list-item {
  list-style-type: none;
  font-weight: 500;
  width: 200px;
}

.navigation__link {
  display: inline-block;
  color: var(--main-font-color);
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.8rem 0.5rem;
  background-color: transparent;
  transition: background-color 0.3s ease, font-size 0.3s ease; /* Lägger till en övergångseffekt på bakgrund och font-size*/
  width: 100%;
}

.navigation__link:hover,
.navigation__link:focus {
  outline: none;
  background-color: var(--main-btn-green);
  color: white;
  font-size: 1.1rem;
  border-radius: 5px;
}

/*------------------------------- content----------------------------------*/

.hero {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  width: 100%;
  height: 86vh;
  padding: 5rem 8rem 0.5rem;

  display: grid;
  grid-auto-rows: auto;
  text-align: center;
  place-items: center;
}

.hero--home {
  grid-template-columns: 1fr 1fr;
  background-image: url(assets/photos/09-day.jpg);
}

.hero--booking {
  grid-template-columns: 1fr;
  background-image: url(assets/photos/08-day.jpg);
}

.hero--about {
  grid-template-columns: 1fr;
  background-image: url(assets/photos/05-day.jpg);
}

/*-----------------------Section för Rumsbokning-----------------------*/

.check-room {
  padding: 2rem 1rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  column-gap: 1rem;

  border-radius: 12px;
  background: rgba(116, 119, 102, 0.7);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.check-room--sizing {
  grid-template-columns: repeat(8, 1fr);
  align-self: start;
}

.check-room__title {
  color: var(--main-font-color);

  grid-column: span 4;
  text-align: start;
}

.check-room__info {
  color: var(--main-font-color);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: span 2;
  margin: 0.5rem 0;
}
.check-room__info--short {
  grid-column: span 1;
}

.check-room__input {
  width: 100%;
  height: 3rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.hero__bonzai-logo > img {
  width: 200px;
}

/*----------------------Styling för buttons-----------------*/

.main-btn {
  color: var(--main-font-color);

  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  background-color: #9ba08e;
  transition: background-color 0.3s ease, font-size 0.3s ease; /* Lägger till en övergångseffekt på bakgrund OCH font-size*/
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  cursor: pointer;
}

.main-btn:hover,
.main-btn:focus {
  outline: none;
  background-color: var(--main-btn-green);
  color: white;
  font-size: 1.1rem;
}

.main-btn--long {
  grid-column: 1 / -1;
  margin-top: 1rem;
}

/*------------------------------- Section för rum-------------------------------*/

.rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room {
  border-radius: 12px;
  background: var(--main-font-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 1000px;
  margin: 1.5rem 2rem;
  padding: 0.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: auto;
  gap: 1rem;
}

/*---------------------------------Galleri för rumsbokning-----------------------*/

.gallery {
  padding: 1rem;
  margin-top: 0;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 300px));
  row-gap: 0.5rem;
}

.gallery__image {
  display: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;

  transition: opacity 0.3s ease;

  grid-column: span 3;
  order: 1;
}

.gallery__thumbnails {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.gallery__thumbnail-input {
  display: none;
}

.gallery__thumbnail {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  margin-top: 0.5rem;
  order: 2;
  justify-self: center;
}

.gallery__thumb-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__thumbnail:hover,
.gallery__thumbnail:focus {
  filter: brightness(60%);
}

.gallery__thumbnail--label-1 {
  background-image: url(assets/photos/01-day.jpg);
}

.gallery__thumbnail--label-2 {
  background-image: url(assets/photos/03-day.jpg);
}
.gallery__thumbnail--label-3 {
  background-image: url(assets/photos/07-day.jpg);
}

#thumbnail-1:checked ~ .gallery__image--1 {
  display: block;
}

#thumbnail-2:checked ~ .gallery__image--2 {
  display: block;
}

#thumbnail-3:checked ~ .gallery__image--3 {
  display: block;
}

#thumbnail-4:checked ~ .gallery__image--3 {
  display: block;
}

#thumbnail-5:checked ~ .gallery__image--1 {
  display: block;
}

#thumbnail-6:checked ~ .gallery__image--2 {
  display: block;
}

#thumbnail-7:checked ~ .gallery__image--2 {
  display: block;
}

#thumbnail-8:checked ~ .gallery__image--3 {
  display: block;
}

#thumbnail-9:checked ~ .gallery__image--1 {
  display: block;
}
/*----------------------Skriftlig beskrivning av rummen------------------*/

.room__info-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 0.4rem;
  padding: 1rem;

  color: black;
  /* 
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem; */
}

.room__title {
  font-size: 2rem;
  grid-column: 1 / -1;
}

.room__subtitle {
  font-size: 1.1rem;
  grid-column: 1 / -1;
  font-weight: 300;
}

.room__information {
  font-size: 1rem;
  text-align: justify;

  grid-column: 1 / -1;
}

.room__list {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  grid-column: 1 /-1;
}

.room__list-item {
  display: inline-block;
  font-weight: 500;
  list-style-type: none;
  font-size: 0.9rem;
}

.room__item-paragraph {
  font-size: 0.7rem;
}

.room__price {
  color: var(--main-btn-green);
  font-size: 1.2rem;

  align-self: end;
  grid-column: 1 / -1;
  text-align: right;
  padding-right: 0.8rem;
}

.room__btn {
  grid-column: 3 / 5;
  height: 100%;
  font-size: 1.3rem;
}
.room__btn:hover,
.room__btn:focus {
  font-size: 1.4rem;
}

/*-------------------------------Anchars-----------------------------*/

.room__anchar {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.anchar {
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
}

.anchar--top {
  align-self: end;
}

.anchar--bottom {
  background-color: var(--anchar-bg-color);
  padding: 1rem 0 1.5rem;
}

.anchar--home {
  grid-column: span 2;
}

/*-------------------Home-hotellets aktuella händelser----------------*/
.hotel-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr 3em);
  grid-auto-rows: 200px;
  column-gap: 1rem;
  row-gap: 1.5rem;
  padding: 4rem 8rem 2rem;
}

.hotel-info__about {
  grid-column: auto / span 2;
  background-color: var(--dark-green);
  border-radius: 12px;
  border: white 2px solid;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 2rem;
}

.hotel-info__divide-title {
  color: white;

  font-size: 1.2rem;
  grid-column: 1 / -1;
  align-self: end;
}

.hotel-info__article {
  border-radius: 12px;
  border: white 2px solid;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  width: 100%;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: end;
}

.hotel-info__article:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.certificats__cert {
  justify-self: center;
  max-height: 110px;
}

.hotel-info__article--map {
  background-image: url(assets/photos/navigation.jpg);
  background-position: center 10%;
  background-color: rgba(0, 0, 0, 0.3);
}

.hotel-info__article--julbord {
  background-image: url(assets/photos/dining.jpeg);
  background-position: center 55%;
  background-size: 150%;
}

.hotel-info__article--virtual {
  background-image: url(assets/photos/virtual-relax.jpeg);
  background-position: center 40%;
}

.hotel-info__article--spa {
  background-image: url(assets/photos/spa.jpeg);
}

.hotel-info__review {
  grid-column: auto / span 2;
  padding-top: 0.5rem;
}

.hotel-info__title {
  color: white;
  font-size: 2rem;
  margin-bottom: 0.5rem;

  grid-column: 1 / -1;
}

.hotel-info__paragraph {
  color: white;
  font-weight: 300;
  text-align: justify;
}

.hotel-info__paragraph--big {
  font-size: 1.2rem;
  line-height: 2rem;
}

.hotel-info__paragraph--review {
  font-style: italic;
  margin: 0 2rem 1rem;
  background-color: var(--dark-green);
  display: inline-block;
  padding: 0.2rem 0.5rem;
}

.hotel-info__subtitle {
  display: none;
}

/*----------------------------Footer section--------------------------*/

.page-footer {
  width: 100%;
  background-color: var(--dark-green);
  margin-top: 1rem;
  color: white;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: start;
  padding: 0 1rem;
}

.link-list {
  margin: 2rem 0;
  width: 200px;
}

.link-list__title {
  margin-bottom: 0.5rem;
}

.link-list_items {
  list-style-type: none;
}

.link-list__item {
  padding-bottom: 0.3rem;
}

.link-list__item--btn {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.link-list__item--btn:hover,
.link-list__item--btn:focus {
  color: var(--link-font-color);
}

/*-------------------------------Mobilvy-------------------------------*/

@media (max-width: 875px) {
  .navigation {
    display: none;
  }

  .hero {
    height: auto;
  }

  .hero--home,
  .wrapper--booking {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 4rem 1rem 1rem;
    height: 100vh;
  }

  .anchar--top {
    order: 2;
    font-size: 1rem;
    margin-top: 2rem;
  }

  .anchar--bottom {
    font-size: 1rem;
  }

  .check-room {
    margin-top: 1rem;
    padding: 0.8rem 1rem;
    grid-column: span 2;
  }

  .hero--home .check-room {
    order: 2;
  }

  .check-room--sizing {
    grid-template-columns: repeat(4, 1fr);
  }

  .page-title {
    margin-bottom: 0rem;
  }

  .room {
    grid-template-columns: 1fr;
    width: auto;
  }
  .hotel-info__title {
    font-size: 1.2rem;
  }

  .hotel-info__paragraph--big {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .hotel-info__subtitle {
    display: block;
    color: white;
    font-size: 1.2rem;
  }

  .hotel-info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 200px 200px 250px;
    grid-auto-rows: 250px;
    column-gap: 0.5rem;
    row-gap: 1.5rem;

    padding: 3rem 1rem;
  }

  .hotel-info__article {
    max-height: 200px;
  }

  .hotel-info__article--green-key {
    grid-column: span 2;
    order: 2;
  }

  .hotel-info__review {
    order: 2;
    padding: 0 1rem;
    place-self: center;
  }
  .hotel-info__paragraph--review {
    margin: 1rem 0 0;
  }

  .hotel-info__divide-title {
    display: none;
  }

  .hotel-info__article--map {
    order: 1;
  }

  .page-footer {
    flex-wrap: wrap;
    justify-content: start;
  }
}
